* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #d4d4d4;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top:100px;
}

.container {
    
    margin:auto;
    width: 100%;
    background-color: #fff;
    max-width: 500px;
    border-radius: 5px;
    padding: 40px 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 36px;
    text-align: center;
    color: #333333;
    text-decoration: underline;
}

.inputBox {
    position: relative;
    margin-bottom: 24px;
}

.inputBox span {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    color: #333333;
    font-size: 20px;
    cursor: pointer;
}

.PassBox {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    background-color: #f2f2f2;
    color: #333333;
    outline: none;
}

input[type="range"] {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
}

.row p {
    font-weight: 700;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.GetBtn {
    width: 100%;
    padding: 12px 0px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3162cb;
    cursor: pointer;
    margin-top: 30px;
}

.GetBtn:hover {
    background-color: #1d1e20;
}

#sliderValue {
    margin-right: 7px;
}

.container2 {
    background-color: #060606;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    
    margin-top: 13%;
}

a {
    font-size: 26px;
    color: #766767;
}
